.main-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;

}
.controls-wrapper {
  display: flex;
  justify-content: column;
  background-color: grey;
}

#grid-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.grid-row {
  display: flex;
}

#grid-wrapper {
  /* background-color: #32302f; */
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

